*.aux
*.bbl
*.blg
*.dep
*.dvi
*.fls
*_latexmk
*.los
*.nav
*.o
*.snm
*.swp
*.tar.gz
*.toc
*.vrb
*.x
.DS_Store
__pycache__
/results
/tmp
**/*.kmc_pre
**/*.kmc_suf
**/*.fasta
trashme*/
.vscode/
.idea/
.AppleDouble
.LSOverride
._*
build_bcalm/
src/external/kmc/Makefile
src/external/kmc/include/
src/external/kmc/lib/
src/external/kmc/*.o
src/external/kmc/**/*.o
src/external/kmc/**/*.a
src/external/bcalm/gatb-core/gatb-core/CMakeLists.txt
bin/bcalm
bin/kmc
bin/kmc_dump
bin/kmc_tools
bin/py_kmc_api.so
bin/*.dSYM/